.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  gap: 10px;
}

.category {
  display: flex;
  flex-direction: row;
  padding: 0.25rem 0.75rem;
  border: 1px solid #d79734;
  background-color: #474747;
  color: #d79734;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-left: 30%;
  padding-right: 30%;
}

.imgCategory {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

h4 {
  color: rgb(241, 187, 6);
}

.h3Link {
  color: orange;
}

.imgCategory :hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 217, 0, 0.5);
}
