.categories {
  display: flex;
  padding-left: 27%;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  gap: 10px;
}
.category:hover {
  background-color: #d4891896;
  transform: scale(1.04);
}

.category {
  display: flex;
  flex-direction: row;
  padding: 0.25rem 0.75rem;
  border: 1px solid #d79734;
  background-color: #474747;
  color: #d79734;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 75%;
}

.imgLink {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid rgb(216, 134, 11);
}

h4 {
  color: rgb(241, 187, 6);
}

.h3Link {
  color: orange;
}

.h3Link:hover {
  text-decoration: underline 2px rgb(156, 86, 7);
}

.imgContainer :hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 217, 0, 0.5);
}

.containerCat {
  min-height: calc(100vh - 60px);
  width: 75%;
  margin-top: 3.5rem;
}

.wrapperCat {
  height: 100%;
  width: 100%;
  padding-bottom: 2.5rem;
}
.h2-Cat {
  display: flex;
  padding-left: 59.5%;
  color: orange;
}

.Buttons {
  padding-left: 30%;
}

.active {
  background-color: orange;
}
