.cogWheelLogo {
  height: 50px;
  width: 50px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapperNotFound {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.imgNotFound {
  border-radius: 10px;
  border: 2px solid orange;
}

.h2NotFound {
  color: orange;
}
