main {
  width: 100%;
}

.layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: rgb(202, 139, 21);
  width: 100%;
  border-radius: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  padding: 16px 24px;
  font-size: 25px;
}

footer {
  margin-top: auto;
}

.Logo {
  width: 200px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}
header {
  height: 130px;
}

.link2 {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: underline;
}
.link2:hover {
  color: rgb(204, 45, 45);
}

.link3 {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: underline;
}
.link3:hover {
  color: rgb(204, 45, 45);
}
