main {
  width: 100%;
}

.layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: rgb(206, 141, 20);
  width: 100%;
}

nav {
  display: flex;
  gap: 16px;
  padding: 16px 24px;
}

footer {
  margin-top: auto;
}
