.noMonkeyBuissness {
  height: 600px;
  width: 400px;
  border-radius: 20px;
  border: 2px solid orange;
}

.containerHome {
  display: flex;
  width: 80%;
  padding-left: 7%;
}

.wrapperHome {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding-left: 3%;
}

.h2-Home {
  color: orange;
  text-decoration: underline;
}

.information {
  padding-top: 40%;
  padding-left: 10%;
}
.para-home {
  border: 2px solid orange;
  border-radius: 10px;
  padding: 20px;
}

.randomMeal {
  padding-top: 25%;
}
.imgLinkHome {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  border: 2px solid orange;
}
