.container-Detail {
  min-height: calc(100vh - 60px);
  width: 100%;
  margin-top: 3.5rem;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.5rem;
}

.ingredients {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  border: 3px solid rgb(255, 156, 7);
  padding: 10px;
  border-radius: 10px;
}

.ingredient {
  gap: 1.5rem;
  text-align: start;
}

.metaData {
  font-size: 30px;
  color: orange;
  font-style: bold;
  text-decoration: underline rgb(156, 86, 7);
}

.instructions {
  width: 80%;
}

.imgDetail {
  height: 325px;
  width: 350px;
  border-radius: 10px;
  border: 2px solid rgb(216, 134, 11);
}

h3 {
  color: orange;
}
.recipe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2%;
  width: 70%;
}

.eachIng {
  color: orange;
}

.recipeOrder {
  padding-right: 10%;
}
