.h3-Search {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/5;
}

.Buttons-Search {
  display: flex;
  padding-left: 52%;
  grid-row: 3/ 4;
  grid-column: 1 /4;
  padding-top: 20px;
}

.h2-Search {
  color: orange;
}
